
<ng-template [ngIf]="users" [ngIfElse]="Empty">
<h2>USERS</h2>
<table class="users" width='500' id="sig" cellspacing='0' cellpadding='0' border-spacing='0' border='5' style="margin:0;padding:0;border-color:solid black;">
    <tr>
        <td style="background-color: rgb(214, 154, 191);" align="center"><strong>Name</strong></td>
        <td style="background-color:rgb(214, 154, 191);" align="center"><strong>Username</strong></td>
        <td style="background-color: rgb(214, 154, 191);" align="center"><strong>Email</strong></td>

    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td >{{user.username}}</td>
        <td appHighlighter>{{user.email}}</td>

    </tr>
</table>
</ng-template>
<ng-template #Empty>
    <div>
        <h3> No users found !</h3>
    </div>
</ng-template>

